* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.quiz-page {
  background: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
}

.trivia-obj {
  color: #293264;
}

.trivia-obj ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.trivia-obj li {
  border: 1px solid #293264;
  padding: 0.5em 2em;
  border-radius: 10px;
  cursor: pointer;
}